* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: 'Lato', sans-serif;}/* SELETOR UNIVERSAL */

body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}

/*------CONTAINER------*/
.container {/*OTIMIZAÇÃO DE CODIGO CRIA CLASSE PARA REUTILIZAR CODIGO EM CABECALHO, BANNER, NEWSLETTER E RODAPE*/
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

/*------BG COLORS------*/
.bg-gradiente{/*OTIMIZAÇÃO DE CODIGO CRIA CLASSE PARA REUTILIZAR CODIGO EM CABECALHO E RODAPE*/
    background: linear-gradient(to right,#ce2e3c,#da6709);
}
.bg-black{
    background-color: #130400;
}

/*CABECALHO*/
.logo {width: 56px; height: 56px; float: left; background: url(../img/logo-mobile.png) center center/56px no-repeat;
    font-size: 0;}

.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: white;
    border-radius: 56px;
    cursor: pointer;
}

/*MENU*/
.menu{
    display: none;/* NAO MOSTRAR MENU */
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top:0;
    left: 0;
}
.btn-close{/*BOTAO FECHAR*/
    font-size: 1.5em;/*TAMANHO*/
    color: #fff;/*COR BRNACA*/
    float: right;/*FICA NA DIREITA*/
    cursor: pointer;
    margin: 2% 3% 0 0;/*AUMENTA A DISTANCIA DA LATERAL E DO TOPO*/
}
.menu ul{
    width: 100%;
    float: left;
    text-align: center;/*COLOCA MENU NO MEIO */
}
.menu li{
    padding: 1.5%;/* ESPAÇAMENTO DOS ITENS DO MENU */
}
.menu li a{
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%; /* DISTANCIA NA PARTE SUPERIOR E BASE E LATERAIS */
}
.menu li a:hover{
    border: 1px solid #da6709;/*adiciona RRETANGULO EM VOLTA DE CADA ITEM DO MENU QUANDO COLOCA MOUSE EM CIMA*/
}

/*BANNER*/
.banner{
    background: url("../img/bg.jpg")no-repeat fixed;
}
.title {
    width: 100%
}
.title h2{
    font-size: 2.5em;
    color: #fff;
    font-weight: 700; /*PREENCHIMENTO DA FONTE*/
}
.title h3{
    font-size: 1.5em;
    color: #fff;
}
.buttons{
    width: 100%;
}
.buttons i{
    float: right;
    margin-top: 2%;
}

.btn{/*OTIMIZAÇÃO DE CODIGO CRIA CLASSE BTN PARA REUTILIZAR CODIGO EM BTN CADASTRAR E BTN SORBE*/
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
}
.btn-cadastrar{
    color: #130400;
}
.btn-sobre{
    color: #fff;
    margin-top: 2%;
}

/*SEVIÇOS*/
.servicos{/*PARTE DE FORA*/
    width: 100%;
    float: left;
    padding: 3% 4%;
}
.servico{/*PARTE DE DENTRO*/
    width: 100%;
    background-color: #fff;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}
.servico img{
    border-radius: 7px 7px 0 0;/*ARREDONDAR PARTE DE CIMA DA BORDA DA IMAGEM*/
}
.inner{
    padding: 7%;/*AUMENTAR A DISTANCIA DO TEXTO EM RELAÇAO AS LATERAIS */
}
.inner a{/*LINK*/
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
}
.inner h4{
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}
.inner p{
    margin-top: 6%;
    color: #130400;
    line-height: 1.5em;
 }
/*NEWSLETTER*/
.newsletter h2{
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 700;
}
.newsletter h3{
    color: white;
}
.newsletter form{
    margin-top: 2%;
}
.newsletter input{
    width: 100%;
    background-color: #130400;
    color: white;
    border: 1px solid rgba(255,255,255,0.3); /*AUMENTAR BORDA E ESCOLHER COR BRANCA COM TRANSPARENCIA*/
    padding: 5%;
    border-radius: 5px;
}
.newsletter button{
    width: 100%;
    background-color: #fff;
    color: #130400;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
}

/*RODAPE*/
.social-icons a{
    font-size: 1.5em;
    color: rgba(255,255,255,0.7);
    margin-right: 3%;
}
.social-icons a:last-child{
    margin-right: 0;/*ZERA MARGEM DO ULTIMO ICONE DO RODAPE*/
}
.social-icons a:hover{
    color: rgb(255,255,255);/*TIRA TRANPARENCIA QUANDO PASSA O MOUSE*/
}
.copyright{
    margin-top: 2%;
    color: rgba(255,255,255,0.7);
}